:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
   {
  margin: 0;}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-white-background);
}

img {
  display: block;
  max-width: 100%;
}

.link {
text-decoration: none;
padding-left: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.logo-font {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo-right {
  color: var(--color-dark);
}

.logo-right-invert {
  color: var(--color-light);
}


.header-link {
  color: var(--color-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:hover,
.header-link:focus {
  color: var(--color-pressed-state);
  text-decoration: none;
}

.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.address-style {
  display: flex;
  gap: 40px;
}

.header-address-link {
  display: inline-block;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-style {
   border-bottom: 1px solid var(--color-accent);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--color-pressed-state);
}

.nav-style {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
}

.style-menu {
  display: flex;
  gap: 40px;
}



.header-container {
  display: flex;
  justify-content: space-between;
} 

.line {
  position: relative;
  color: var(--color-pressed-state);
}
.line::after {
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
}

.group {
  color: var(--color-white-background);
  background-color: var(--color-dark);
  padding: 188px 0;  
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
  rgba(46, 47, 66, 0.70)), 
  url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}


.group-title {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto; 
}

.group-button {
  display: block;
  color: inherit;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background: var(--color-primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.group-button:hover,
.group-button:focus {
  background-color: var(--color-pressed-state);
}
.section-tytle {
  text-align: center;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  }

.offer-tytle-box {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}


.offer-text-box { 
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.offer-text {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

 .offer-promo {
  flex-basis: calc((100% - 72px) / 4);
 }

 .offer-section {
  padding: 120px 0;
 }

 .offer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--color-light);
  border-radius: 4px;
  margin-bottom: 8px;
  }

.box-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.box-picture    {
  flex-basis: calc((100% - 48px) / 3);
}
.box-section {
  padding-bottom: 120px;
}

.hero   {
  background-color: var(--color-light);
  padding: 120px 0;
}


 .hero-tytle {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.hero-style {
  background-color: var(--color-white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.hero-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-subtitle {
  padding: 32px 0;
}
.hero-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-social-list { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 24px; 
  justify-content: center;
} 

.hero-social-media {
  height: 40px; 
  width: 40px; 
}

.hero-social-icon:hover,
.hero-social-icon:focus {
  background-color: var(--color-pressed-state);
}

/*CUSTOMERS*/

.customer-section {
  padding: 120px 0;
}

.customer-headline {
  text-align: center; 
  color: var(--color-dark); 
  font-weight: 700; 
  font-size: 36px; 
  line-height: 1.11; 
  letter-spacing: 0.02em; 
  text-transform: capitalize; 
  margin-bottom: 72px; 
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.customer-item {
  flex-basis: calc((100% - 120px) / 6); 
  height: 88px; 
}

.customer-link {
  width: 100%; 
  height: 100%; 
  border: 1px solid var(--color-subtle-text); 
  border-radius: 4px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: var(--color-subtle-text); 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customer-icon {
fill: currentColor;
}

.customer-link:hover, 
.customer-link:focus { 
color: var(--color-pressed-state);
border-color: #404bbf; 
} 


.social-media-icon {
  fill: var(--color-light); 
}

.card-item {
  flex-basis: calc((100% - 72px) / 4);
}
           
.foot-set {
padding-left: 80px;


}

.foot-text {
color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}

.foot-email {
display: flex;
gap: 24px;
}

.foot-label {
display: flex;
}

.foot-input {
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 12px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-white-background);
  padding-left: 16px;
  color: var(--color-white-background);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.foot-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white-background);
  cursor: pointer;
  background: var(--color-primary-brand);
  border: none;
  border-radius: 4px;
}
.foot-button:hover,
.foot-button:focus {
  background-color: var(--color-pressed-state);
}

.foot-svg {
  fill: var(--color-white-background);
  margin-left: 16px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-style {
  background-color: var(--color-dark);
  padding: 100px 0;
}

.footer-logo-container {
  align-items: baseline;
  margin-right: 120px;
}

.footer-paragraph {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}



.social-media-text {
  color: var(--color-white-background);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.hero-social-icon,
.footer-social-icon {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: var(--color-success);
  fill: var(--color-light);
}
.footer-social-item {
  height: 40px;
  width: 40px;
}
.social-svg {
  fill: var(--color-light);
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


.portfolio-tytle {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-link-button {
  font-family: inherit;
  color: var(--color-primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-accent);
  background: var(--color-light);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link-button:hover,
.portfolio-link-button:focus {
  color: var(--color-white-background);
  background: var(--color-pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  padding: 40px 32px;
  background-color: var(--color-primary-brand);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay {
  transform: translateY(0%);
}
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}



.portfolio-box {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-subtitle {
  border: 1px solid var(--color-accent);
  padding: 32px 16px;
  border-top: none;
}
.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
} 


.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
background: var(--color-modal-background);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-dark);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  
}

.modal-window {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-pressed-state);
  border: none;
  fill: var(--color-white-background);
}


.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





























































